
 body {background-color: #DBDFFD;
    }
 hr {background-color: #DBDFFD;
        border-style : none;
        border-top-style :dotted;
        border-color : #242F9B;
        border-width : 10px;
        width : 30% ;
    }
 h1 {color: #242F9B;
 }
